.landing-footer {
    width: 100%;
    height: 30%;
    display: flex;
    /* margin-top: 83vh; */
    align-items: flex-end;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.footer-icons {
    width: 30px;
    height: 30px;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #F8FAF3;
    border-radius: 50%;
  }

.dot-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #F8FAF3;
    border-radius: 50%;
    margin-bottom: 6px;
}

