.navbar {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(202, 200, 200, 0.829);
    height: 120px;
}

.tinder-icon {
  position: relative;
  right: 115px;
}

.chat-icon {
    margin-right: 35px;
    height: 40px;
}

.images-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.new-images-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.image-icon {
    image-resolution: 72px;
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin: 5px;
}

.text {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.messages-hr{
    width: 280px;
    margin-left: 70px;
    margin-top: 0;
}

.messages-tab {
   font-size: 20px;
   color: #ff5864;
   padding-right: 60px;
   border-right: 1px solid rgb(216, 203, 203);

}

.feed-tab {
    float: right;
    color: rgb(167, 160, 160);
    font-size: 20px;
    padding-left: 80px;
}

.text-border {
  border-bottom: 1px solid rgb(117, 117, 117);
  margin-top: 60px;
}

.input{
    margin-top: 10px;
    height: 30px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 10px;
    
}

input[type="text"], textarea {
    padding-top: 7px;
    background-color: #EFF3F3;
    border: none;
    border-radius: 10px;
    text-align: center;
}

input::placeholder {
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
}

.search-matches-input{
    margin-top: 10px;
    height: 30px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 10px;
    
}

input[type="text"], textarea {
    padding-top: 7px;
    background-color: #EFF3F3;
    border: none;
    border-radius: 10px;
    text-align: center;
}

input::placeholder {
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
}

.matches {
    margin-top: 15px;
    color: #ff5864;
    padding-left: 10px;
}

.new-matches-list {
    font-size: 18px;
}

.pic {
  border-radius: 50%;
}

.messages-h4{
    font-size: 18px;
}

.messages {
    color: #ff5864;
    padding-left: 10px;
    background: none;
    border: none;
}

.match-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 90px; */
}

.name-display{
  border: 1px black white;
  height: 30px;
  width: 90px;
  color: black;
}