.container {
    width: 375px;
    height: 667px;
    border: 1px solid black;
}
.card {
    width: 400px;
    height: 620px;
}

.card-body {
    overflow-y: scroll;
}

.send-btn {
    position: absolute;
    bottom:38px;
    left: 290px;
    background: transparent;
    color: black;
    border: none;
}

.messages {
    color: black;
    border: 1px solid rgb(218, 218, 218);
    width: 50%;
    background-color: skyblue;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.userClass {
    color: black;
    border: 1px solid rgb(218, 218, 218);
    width: 100%;
    background-color: red;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px;
    text-align: right;
}
 
.matchClass {
    color: black;
    border: 1px solid rgb(218, 218, 218);
    width: 100%;
    background-color: green;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px;
    text-align: left;
    
}