.chatnav {
    width: 94%;
    margin: 0 3% 0 3%;
}
.chat-navbar{
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.chatnav .arrow-icon {
    
    color: red;
    /* position: relative;
    right: 40%; */
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.flag-icon {
    color: red;

}

